.slider-container{
    position: relative;
    overflow: hidden;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(50%);
    transition: all .3s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
.current{
    opacity: 1;
    transform: translateX(0);
}
.arrow-prev , .arrow-next{
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    background: transparent;
    width : 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 999;
    top: 50%;
    opacity: .7;
}
.arrow-prev :hover , .arrow-next :hover{
    background-color: white;
    color: black;
}
.arrow-next{
    right: 2rem;
}
.arrow-prev{
    left: 2rem;
}
.all-dots{
    width:100%;
    height:100%;
    position: absolute;
    display: flex;
    top:90%;
    justify-content: center;
}
.dot{
    cursor: pointer;
    width: 0.7rem;
    height: 0.7rem;
    margin: 0 3px;
    border-radius: 50%;
    border:2px solid white;
    background-color:transparent;
    display: inline-block;
}
.dot.active{
    background-color: black;
}